#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    text-align: left;
    background-color: var(--main-clr);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
    overflow-y: auto;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo {
        font-family: Poppins-Bold, serif;
    }
}

#sidebar ul li.active a {
    color: var(--accent-clr);

    svg {
        fill: var(--accent-clr);
    }
}


#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    font-size: 16px;
    border-radius: .5em;
    padding: .90em;
    text-decoration: none;
    color: var(--elements-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--elements-clr);
}

#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg:last-child {
    transition: 350ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--hover-clr);
}

.img-icon {
    width: 40px;
    height: 40px;
    background: url("../img/shapes/ellipse.png") no-repeat center / cover;

    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="185" height="185" viewBox="0 0 185 185" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="92.5" cy="92.5" r="92.5" fill="%23D9D9D9"/></svg>');

    mask-image: url('data:image/svg+xml;utf8,<svg width="185" height="185" viewBox="0 0 185 185" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="92.5" cy="92.5" r="92.5" fill="%23D9D9D9"/></svg>');

    mask-size: cover;
    -webkit-mask-size: cover;
    transition: 350ms ease;
}

#sidebar.close .img-icon {
    margin-left: -10px;
}

.spacer {
    flex-grow: 1;
}
