<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Home</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/nav.css">
</head>
<body class="home">
<nav id="sidebar">
    <ul>
        <li>
            <span class="logo">WedConnect</span>
            <button onclick=toggleSidebar() id="toggle-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
            </button>
        </li>
        <li class="active">
            <a th:href="@{/restaurant/home}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                <span>Home</span>
            </a>
        </li>

        <li>
            <a th:href="@{/restaurant/reservations}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
                <span>Reservations</span>
            </a>
        </li>

        <li>
            <a th:href="@{/restaurant/menu}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-200q-17 0-28.5-11.5T120-240q0-17 11.5-28.5T160-280h640q17 0 28.5 11.5T840-240q0 17-11.5 28.5T800-200H160Zm0-240q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-240q-17 0-28.5-11.5T120-720q0-17 11.5-28.5T160-760h640q17 0 28.5 11.5T840-720q0 17-11.5 28.5T800-680H160Z"/></svg>
                <span>Menu</span>
            </a>
        </li>

        <div class="spacer"></div>
        <li>
            <a th:href="@{/restaurant/profile}">
<!--                <img class="img-icon" src="../../static/img/profile/restaurant.png" alt="restaurant">-->
                <span>Profile</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-80q-33 0-56.5-23.5T160-160v-560q0-33 23.5-56.5T240-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T880-720v560q0 33-23.5 56.5T800-80H240Zm0-80h560v-400H240v400Zm0-480h560v-80H240v80Zm0 0v-80 80Z"/></svg>
            </a>
        </li>
    </ul>
</nav>

<main>
    <div class="lace-position-nav">
        <img src="/svg/lace/lace-vertical-left.svg" alt="Left Lace" draggable="false">
    </div>

    <div class="second-lace">
        <img src="/svg/lace/lace-vertical-left.svg" alt="Left Lace" draggable="false">
    </div>

    <div class="lace-position-nav right">
        <img src="/svg/lace/lace-vertical-right.svg" alt="Right Lace" draggable="false">
    </div>

    <div class="second-lace right">
        <img src="/svg/lace/lace-vertical-right.svg" alt="Right Lace" draggable="false">
    </div>

    <div class="container-content">
        <div class="container-home">
            <p class="text-grid-top font-size-36px">Welcome to</p>
            <p id="text-grid-center" class="font-size-48px" th:text="${restaurant.name}"></p>

            <div id="information-grid" class="font-size-24px">
                <div class="content-list">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#86355e"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>
                    <p th:text="${restaurant.address}"></p>
                </div>

                <div class="content-list">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#86355e"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
                    <p th:text="${restaurant.phoneNumber}"></p>
                </div>

                <div class="content-list">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#86355e"><path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm0-80h640v-440H160v440Zm240-520h160v-80H400v80ZM160-200v-440 440Z"/></svg>
                    <p th:text="${restaurant.capacity} + ' guests capacity'"></p>
                </div>
            </div>


        </div>
    </div>
</main>

<script src="../../static/js/buttons.js"></script>
<script src="/js/buttons.js"></script>
<script src="/js/pathAdjuster.js"></script>
</body>
</html>