body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-section {
    background-color: #d3d3d3;
    padding: 100px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-section .h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-section .login-link {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.form-section {
    background-color: white;
    padding: 100px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.signup-form select {
    width: 100%;
}

.signup-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
}

.signup-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #FF99CC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #ec86b9;
}

.message, .error-message {
    text-align: center;
    margin-top: 15px;
    min-height: 20px;
}

.message {
    color: green;
}

.error-message {
    color: red;
}

input[type=text], input[type=password] {
    border: none;
    border-bottom: 1px solid #D9D9D9;
}

/* Home Page */
.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.upright {
    position: absolute;
    top: 8px;
    right: 16px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF99CC;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

.button:hover {
    background-color: #ec86b9;
}

