<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container-home">
    <div class="upright">
        <a href="#" th:href="@{/login}" class="button-home">Sign In</a>
        <a href="#" th:href="@{/register}" class="button-home">Sign Up</a>
    </div>

    <div class="center">
        <h1>Welcome to WedConnect</h1>
        <a href="#" th:href="@{/register}" class="button-home">Get Started</a>
    </div>

</div>

</body>
</html>
